.avatar {
    width: 100px;
    height: 100px;
}
.blocks {
    display: inline-block;
    margin-left: 10px;
}


.userElement{
    padding:10px;
}
button{
    width: 100px;
}
.selectedPage{
    font-weight: bold;
    color: greenyellow;
}